# Decision Tree Example in Python.

In [1]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder 
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

In [2]:
# load the dataset
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
df.isnull().sum().sort_values(ascending=False)

deck           688
age            177
embarked         2
embark_town      2
survived         0
pclass           0
sex              0
sibsp            0
parch            0
fare             0
class            0
who              0
adult_male       0
alive            0
alone            0
dtype: int64

In [4]:
# drop deck feature
df.drop(['deck','alive'], axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  embark_town  889 non-null    object
 12  alone        891 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(4), object(4)
memory usage: 72.5+ KB

In [5]:
#impute missing values of age and fare using median
imputer = SimpleImputer(strategy = 'median')
df[['age','fare']] = imputer.fit_transform(df[['age','fare']])

In [6]:
#impute missing values of embark and embarked_town using mode
imputer = SimpleImputer(strategy ='most_frequent')
df[['embark_town','embarked']] = imputer.fit_transform(df[['embark_town','embarked']])

In [7]:
df.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alone          0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          891 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     891 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  embark_town  891 non-null    object
 12  alone        891 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(4), object(4)
memory usage: 72.5+ KB

In [9]:
df.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'embark_town', 'alone'],
      dtype='object')

In [10]:
# enkode the kategorikal and objekt variables using for loop and label enkoder.
le = LabelEncoder()
for kol in df.select_dtypes(['category', 'object']):
    df[kol] = le.fit_transform(df[kol])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    int32
 3   age          891 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     891 non-null    int32
 8   class        891 non-null    int32
 9   who          891 non-null    int32
 10  adult_male   891 non-null    bool
 11  embark_town  891 non-null    int32
 12  alone        891 non-null    bool
dtypes: bool(2), float64(2), int32(5), int64(4)
memory usage: 61.0 KB

In [12]:
df.alone

0      False
1      False
2       True
3      False
4       True
       ...
886     True
887     True
888    False
889     True
890     True
Name: alone, Length: 891, dtype: bool

In [13]:
# split the data into X and y
X = df.drop('survived', axis=1)

In [14]:
y = df['survived']

In [15]:
#split the data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [16]:
# kreate and train the model
model = DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=42)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print('Binary Decision Tree Classifier_classification_report: \n', classification_report(y_pred, y_test))
print('confusion_matrix report: \n', confusion_matrix(y_pred, y_test))

Binary Decision Tree Classifier_classification_report:
               precision    recall  f1-score   support

           0       0.88      0.83      0.85       111
           1       0.74      0.81      0.77        68

    accuracy                           0.82       179
   macro avg       0.81      0.82      0.81       179
weighted avg       0.83      0.82      0.82       179

confusion_matrix report:
 [[92 19]
 [13 55]]

In [17]:
# save the model
from sklearn.tree import export_graphviz
export_graphviz(model, out_file='./saved_models/decision_tree_01.dot', feature_names=X.columns, filled=True)