# Random Forest

In [4]:
# import libararies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.metrics import mean_squared_error, root_mean_squared_error, mean_absolute_error, r2_score

In [6]:
# load data
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [10]:
# enkode features which are kategorikal or objekt using for loop
le = LabelEncoder()
for kol in df.columns:
    if df[kol].dtype == 'category' or df[kol].dtype == 'object':
        df[kol] = le.fit_transform(df[kol])

In [12]:
# data types after transformation.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    int32
 3   smoker      244 non-null    int32
 4   day         244 non-null    int32
 5   time        244 non-null    int32
 6   size        244 non-null    int64
dtypes: float64(2), int32(4), int64(1)
memory usage: 9.7 KB

In [13]:
df.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

# Random Forest as Binary Classification Algo.

In [20]:
# split the data into X and y
X = df.drop('sex', axis=1)
X.head()

   total_bill   tip  smoker  day  time  size
0       16.99  1.01       0    2     0     2
1       10.34  1.66       0    2     0     3
2       21.01  3.50       0    2     0     3
3       23.68  3.31       0    2     0     2
4       24.59  3.61       0    2     0     4

In [22]:
y = df.sex
y.head()

0    0
1    1
2    1
3    1
4    0
Name: sex, dtype: int32

In [23]:
# Train Test Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [31]:
# kreat, train and predikt the model
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

# evaluate the model
print('classification_report: \n', classification_report(y_pred, y_test))
print('confusion_matrix: \n', confusion_matrix(y_pred, y_test))

classification_report:
               precision    recall  f1-score   support

           0       0.32      0.46      0.38        13
           1       0.77      0.64      0.70        36

    accuracy                           0.59        49
   macro avg       0.54      0.55      0.54        49
weighted avg       0.65      0.59      0.61        49

confusion_matrix:
 [[ 6  7]
 [13 23]]

# Use random forest as Regressor

In [36]:
X = df.drop('tip', axis=1)
y = df.tip

# train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Kreat, train and predikt the model.
model = RandomForestRegressor()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

# evaluate the model
print('MSE: \n', mean_squared_error(y_pred, y_test))
print('RMSE: \n', root_mean_squared_error(y_pred, y_test))
print('MAE: \n', mean_absolute_error(y_pred, y_test))
print('r2_score: \n', r2_score(y_pred, y_test))

MSE:
 0.9133184742857154
RMSE:
 0.9556769717251302
MAE:
 0.752326530612245
r2_score:
 0.3277812567175157